certifi==2018.4.16
chardet==3.0.4
decorator==3.4.0
Django==1.11.12
djangorestframework==3.7.3
elasticsearch==1.2.0
funcsigs==1.0.2
gunicorn==19.4.5
httpie==0.9.9
httplib2==0.8
idna==2.6
lxml==3.4.2
mock==2.0.0
olefile==0.45.1
pbr==4.0.2
Pillow==4.3.0
Pygments==2.2.0
pytz==2018.4
requests==2.18.4
six==1.11.0
SQLAlchemy==1.1.11
urllib3==1.22